/* General page styles */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    border: 10px solid black; /* Add black borders */
}

/* Landing page styles */
#landing-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#landing-page button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#landing-page button:hover {
    background-color: darkred;
}

/* Main page styles */
#main-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    border: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, opacity 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}
